* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

.container {
    border: 1px solid pink;
    border-radius: .5rem;
    box-shadow: 0rem .5rem .5rem .3rem pink;
    padding: 1rem;
    width: 30rem;
    height: 20rem;
    margin: 1px auto;
}

.painel {
    /*border: 1px solid pink;*/
    border-radius: .10rem;
    /*padding: 1rem;*/
    display: flex;
}

input {
    flex: 2;
}

button {
    flex: 1;
    margin-left: 1rem;
    background-color: rgb(255, 82, 139);
    color: white;
    border: none;
    border-radius: .5rem;
}

button:hover {
    background-color: rgb(158, 91, 221);
    color: white;
}

#resposta {
    margin-top: .5rem;
    border: 1px solid pink;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
}

.tile {
    width: 90%;
    margin-top: .5rem;
    background-color: pink;
    border: 1px solid pink;
    border-radius: .5rem;
    padding: 1rem;
    margin: 0.3rem;
    display: flex;
    align-items: center;
}

.avatar {
    color: white;
    font-weight: bolder;
    font-size: .9rem;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maior-idade {
    background-color: rgb(255, 70, 255);
    margin-right: 10px;
}

.menor-idade {
    background-color: blueviolet;
    margin-right: 10px;
}